@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,400;1,700&display=swap');

body{
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	font-weigth: 400;
}

h1{
	color: #66bbff;
}

.Botao1{
	text-decoration: none;
	background-color: #66bbff;
	padding: 5px 10px 5px 10px;
	color: #fff;
	font-size: 1.2em;
	fonte-weight: 700;
	border-radius: 5px
}